PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "_prisma_migrations" (
    "id"                    TEXT PRIMARY KEY NOT NULL,
    "checksum"              TEXT NOT NULL,
    "finished_at"           DATETIME,
    "migration_name"        TEXT NOT NULL,
    "logs"                  TEXT,
    "rolled_back_at"        DATETIME,
    "started_at"            DATETIME NOT NULL DEFAULT current_timestamp,
    "applied_steps_count"   INTEGER UNSIGNED NOT NULL DEFAULT 0
);
INSERT INTO _prisma_migrations VALUES('20f1b58f-9d2b-412e-b6f0-55bb43f528bc','74cedff4e5512ee8f0465ae63d958dce71502dead0c422321cc6b4c0d8d9af91',1764177221733,'20251008143427_init',NULL,NULL,1764177221721,1);
INSERT INTO _prisma_migrations VALUES('a99f8d50-5e28-4f9c-8121-ade1eca85c16','6da29a0e6c3488ac741d88d405656c156f72f7bb2962eb56ecb425fcd5a9a2a2',1764177221773,'20251008153630_init',NULL,NULL,1764177221735,1);
INSERT INTO _prisma_migrations VALUES('a9be572f-7909-4b0d-9a04-f4d333836e8e','ee8efb16e6374e552387269e92214fd949634b1b45037768559de15dcd32aa81',1764177221838,'20251008155211_init',NULL,NULL,1764177221775,1);
CREATE TABLE IF NOT EXISTS "Realisation" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "nom" TEXT,

    "departementId" INTEGER,

    "structureId" INTEGER,

    CONSTRAINT "Realisation_departementId_fkey" FOREIGN KEY ("departementId") REFERENCES "Departement" ("id") ON DELETE SET NULL ON UPDATE CASCADE,

    CONSTRAINT "Realisation_structureId_fkey" FOREIGN KEY ("structureId") REFERENCES "Structure" ("id") ON DELETE SET NULL ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Tag" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "nom" TEXT NOT NULL,

    "categoryId" INTEGER,

    CONSTRAINT "Tag_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "Categorie" ("id") ON DELETE SET NULL ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "RealisationTag" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "realisationId" INTEGER NOT NULL,

    "tagId" INTEGER NOT NULL,

    CONSTRAINT "RealisationTag_realisationId_fkey" FOREIGN KEY ("realisationId") REFERENCES "Realisation" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,

    CONSTRAINT "RealisationTag_tagId_fkey" FOREIGN KEY ("tagId") REFERENCES "Tag" ("id") ON DELETE RESTRICT ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "StructureTag" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "structureId" INTEGER NOT NULL,

    "tagId" INTEGER NOT NULL,

    CONSTRAINT "StructureTag_structureId_fkey" FOREIGN KEY ("structureId") REFERENCES "Structure" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,

    CONSTRAINT "StructureTag_tagId_fkey" FOREIGN KEY ("tagId") REFERENCES "Tag" ("id") ON DELETE RESTRICT ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Departement" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "nom" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "Appartenir" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "structureId" INTEGER NOT NULL,

    "personneId" INTEGER NOT NULL,

    "role" TEXT,

    CONSTRAINT "Appartenir_structureId_fkey" FOREIGN KEY ("structureId") REFERENCES "Structure" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,

    CONSTRAINT "Appartenir_personneId_fkey" FOREIGN KEY ("personneId") REFERENCES "Personne" ("id") ON DELETE RESTRICT ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Analytics" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "page" TEXT NOT NULL,

    "ipAddress" TEXT,

    "userAgent" TEXT,

    "dateVisite" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE IF NOT EXISTS "Personne" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "identifiant" TEXT NOT NULL,

    "nom" TEXT NOT NULL,

    "prenom" TEXT NOT NULL,

    "email" TEXT NOT NULL,

    "password" TEXT NOT NULL,

    "dateCreation" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,

    "role" TEXT NOT NULL,

    "departementId" INTEGER, "description" TEXT,

    CONSTRAINT "Personne_departementId_fkey" FOREIGN KEY ("departementId") REFERENCES "Departement" ("id") ON DELETE SET NULL ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Caroussel" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "titreCaroussel" TEXT,

    "composantId" INTEGER NOT NULL,

    CONSTRAINT "Caroussel_composantId_fkey" FOREIGN KEY ("composantId") REFERENCES "Composant" ("id") ON DELETE CASCADE ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Composant" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "positionComposant" INTEGER NOT NULL,

    "type" TEXT NOT NULL,

    "articleId" INTEGER,

    CONSTRAINT "Composant_articleId_fkey" FOREIGN KEY ("articleId") REFERENCES "Article" ("id") ON DELETE CASCADE ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Image" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "lienImage" TEXT,

    "titreImage" TEXT,

    "copyright" TEXT,

    "composantId" INTEGER NOT NULL,

    "carousselId" INTEGER,

    CONSTRAINT "Image_composantId_fkey" FOREIGN KEY ("composantId") REFERENCES "Composant" ("id") ON DELETE CASCADE ON UPDATE CASCADE,

    CONSTRAINT "Image_carousselId_fkey" FOREIGN KEY ("carousselId") REFERENCES "Caroussel" ("id") ON DELETE CASCADE ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Paragraphe" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "texteParagraphe" TEXT,

    "composantId" INTEGER NOT NULL,

    CONSTRAINT "Paragraphe_composantId_fkey" FOREIGN KEY ("composantId") REFERENCES "Composant" ("id") ON DELETE CASCADE ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Titre" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "niveauTitre" INTEGER,

    "texteTitre" TEXT,

    "composantId" INTEGER NOT NULL,

    CONSTRAINT "Titre_composantId_fkey" FOREIGN KEY ("composantId") REFERENCES "Composant" ("id") ON DELETE CASCADE ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Document" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "lien" TEXT NOT NULL,

    "articleId" INTEGER NOT NULL,

    CONSTRAINT "Document_articleId_fkey" FOREIGN KEY ("articleId") REFERENCES "Article" ("id") ON DELETE CASCADE ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Article" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "titre" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "Rediger" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "articleId" INTEGER NOT NULL,

    "personneId" INTEGER NOT NULL,

    "realisationId" INTEGER NOT NULL,

    "dateRedaction" DATETIME,

    "dateModif" DATETIME,

    CONSTRAINT "Rediger_articleId_fkey" FOREIGN KEY ("articleId") REFERENCES "Article" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,

    CONSTRAINT "Rediger_personneId_fkey" FOREIGN KEY ("personneId") REFERENCES "Personne" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,

    CONSTRAINT "Rediger_realisationId_fkey" FOREIGN KEY ("realisationId") REFERENCES "Realisation" ("id") ON DELETE RESTRICT ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Categorie" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "nom" TEXT NOT NULL,

    "parentId" INTEGER,

    CONSTRAINT "Categorie_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "Categorie" ("id") ON DELETE CASCADE ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Materiau" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "nomMateriau" TEXT,

    "realisationId" INTEGER NOT NULL,

    CONSTRAINT "Materiau_realisationId_fkey" FOREIGN KEY ("realisationId") REFERENCES "Realisation" ("id") ON DELETE RESTRICT ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Projet" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "nomProjet" TEXT,

    "realisationId" INTEGER NOT NULL,

    CONSTRAINT "Projet_realisationId_fkey" FOREIGN KEY ("realisationId") REFERENCES "Realisation" ("id") ON DELETE RESTRICT ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Technique" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "nomTechnique" TEXT,

    "realisationId" INTEGER NOT NULL,

    CONSTRAINT "Technique_realisationId_fkey" FOREIGN KEY ("realisationId") REFERENCES "Realisation" ("id") ON DELETE RESTRICT ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Situer" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "structureId" INTEGER NOT NULL,

    "departementId" INTEGER NOT NULL,

    CONSTRAINT "Situer_structureId_fkey" FOREIGN KEY ("structureId") REFERENCES "Structure" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,

    CONSTRAINT "Situer_departementId_fkey" FOREIGN KEY ("departementId") REFERENCES "Departement" ("id") ON DELETE RESTRICT ON UPDATE CASCADE

);
CREATE TABLE IF NOT EXISTS "Structure" (

    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,

    "nomStructure" TEXT,

    "description" TEXT,

    "dateCreation" DATETIME

);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('Analytics',0);
INSERT INTO sqlite_sequence VALUES('Personne',0);
INSERT INTO sqlite_sequence VALUES('Caroussel',0);
CREATE UNIQUE INDEX "RealisationTag_realisationId_tagId_key" ON "RealisationTag"("realisationId", "tagId");
CREATE UNIQUE INDEX "StructureTag_structureId_tagId_key" ON "StructureTag"("structureId", "tagId");
CREATE UNIQUE INDEX "Appartenir_structureId_personneId_key" ON "Appartenir"("structureId", "personneId");
CREATE UNIQUE INDEX "Personne_identifiant_key" ON "Personne"("identifiant");
CREATE UNIQUE INDEX "Personne_email_key" ON "Personne"("email");
CREATE UNIQUE INDEX "Image_composantId_key" ON "Image"("composantId");
CREATE UNIQUE INDEX "Paragraphe_composantId_key" ON "Paragraphe"("composantId");
CREATE UNIQUE INDEX "Titre_composantId_key" ON "Titre"("composantId");
CREATE UNIQUE INDEX "Rediger_articleId_personneId_key" ON "Rediger"("articleId", "personneId");
CREATE UNIQUE INDEX "Materiau_realisationId_key" ON "Materiau"("realisationId");
CREATE UNIQUE INDEX "Projet_realisationId_key" ON "Projet"("realisationId");
CREATE UNIQUE INDEX "Technique_realisationId_key" ON "Technique"("realisationId");
CREATE UNIQUE INDEX "Situer_structureId_departementId_key" ON "Situer"("structureId", "departementId");
COMMIT;
