.annuaire {
  position: absolute;
  top: 17vh !important;
  left: 18vw !important;
  height: 80vh !important;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  justify-items: center;
  align-items: start;
  padding: 16px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.annuaire::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}
