.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: 96vh;
  min-width: 10vw;
  width: 16vw;
  margin: 2vh;
  border-radius: 20px;

  background-color: rgba(31, 29, 52, 0.9);
  color: white;
  transition: width 0.3s;
  overflow: hidden;
  z-index: 999;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar_search {
  display: flex;
  border-radius: 20px;
  margin: 1vw;
  padding: 0px 5px;
  border: 1px solid #374151;
  min-height: 50px;
  background-color: aliceblue;
  position: relative;
  z-index: 999;
}
.sidebar_search .search {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
}
.search_img{
  width: 20px;
}.search_img:hover {
  cursor: pointer;
}

.search_input {
  color: black;
  min-height: 100%;
  min-width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}

#findbox {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: none;
  outline: none;
  font-weight: bold;
  z-index: 0;
}
.search_results {
  position: absolute;
  background: aliceblue;
  min-width: 14vw;
  max-width: 14vw;
  margin: -45px 1vw;
  padding: 0;
  list-style: none;
  border-radius: 10px;
}
.search_results li:first-of-type{
  margin-top: 40px;
}
.search_results li{
  color: black;
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-weight: bold;
}

.filter_list ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar li {
  padding: 12px 16px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #a3d9a7;
}



