.annuaire {
  position: absolute;
  top: 17vh;
  left: 18vw;
  height: 80vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: start;
  padding: 16px;
  overflow-y: auto;

  scrollbar-width: none;
  z-index: 1000;
}

.annuaire::-webkit-scrollbar {
  display: none;
}

@media (max-width: 724px) {
  .annuaire {
  grid-template-columns: repeat(1, 1fr);
  }
}