.admin-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.admin-topbar {
  background: #111827;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.admin-content {
  display: flex;
  flex: 1;
}

.admin-sidebar {
  width: 220px;
  background: #1f2937;
  color: white;
  padding: 1.5rem 0;
  border-top: solid 1px #374151;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-sidebar li {
  margin: 0.5rem 0;
}

.admin-sidebar a {
  color: #d1d5db;
  text-decoration: none;
  display: block;
  padding: 0.75rem 1.25rem;
  transition: background 0.2s;
}

.admin-sidebar a:hover {
  background: #374151;
  color: white;
}

.admin-sidebar .active a {
  background: #2563eb;
  color: white;
}




.admin-main {
  flex: 1;
  padding: 2rem;
}

.admin-top-content {
  margin-bottom: 4em;
  color: black;
}

.admin-menu {
  display: flex;
  justify-content: space-between;
}
.content-bloc {
  /* background-color: #111827;* */
  background-color: white;
  box-shadow: #111827 0px 0px 10px;
  padding: 2em 4em;
  border-radius: 20px;
}
.content-bloc p {
  font-weight: bold;
  color: black;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1em;
}
.content-bloc img {
  max-height: 16em;
}