.admin-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #f9f9f9;
}


.admin-content {
  display: flex;
  flex: 1;
}


.admin-main {
  flex: 1;
  padding: 2rem;
}

.admin-top-content {
  margin-bottom: 4em;
  color: black;
}

.admin-menu {
  display: flex;
  justify-content: space-between;
}
.content-bloc {
  /* background-color: #111827;* */
  background-color: white;
  box-shadow: #111827 0px 0px 10px;
  padding: 2em 4em;
  border-radius: 20px;
}
.content-bloc p {
  font-weight: bold;
  color: black;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1em;
}
.content-bloc img {
  max-height: 16em;
}