.topbar {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
}
.topbar-fixed {
  position: fixed;
  z-index: 999;

  min-width: 76vw;
  max-width: 76vw;

  margin: 2vh 4vw 0 20vw;
  padding: 0.6em 2em;

  border-radius: 20px;

  font-size: larger;
}
.topbar-bloc {

  /* margin: 2vh 4vw 0 20vw; */
  padding: 0.6em 2em;

  /* border-radius: 20px; */

  font-size: larger;
}

.connect {
  display: flex;
  justify-content: space-evenly;
  
  max-height: 2.4em;
  min-width: 15%;
  padding: 0.2em;
  border-radius: 20px;

  background-color:goldenrod;
}
.connect img {
  max-height: 2em;
}
.connect p {
  align-self: center;
  font-weight: bold;
}