.main_title {
  font-weight: bold;
  font-size: calc(0.5rem + 1.5vw);
  margin: 0;
}

.topbar {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.topbar h1{
  font-size: 1.5em;
  margin : 0;
}

.topbar_fixed {
  position: fixed;
  z-index: 999;

  min-width: 76vw;
  max-width: 76vw;

  margin: 2vh 4vw 0 20vw;
  padding: 0.6em 2em;

  border-radius: 20px;

  font-size: larger !important;
}

.topbar_bloc {
  padding: 0.6em 2em;

  /* border-radius: 20px; */

  font-size: larger !important;
}

/* Bouton de déconnexion */
.connect {
  display: flex;
  justify-content: space-evenly;
  border: none;
  max-height: 3.4em;
  /* min-width: 15%; */
  padding: 0.2em 1em;
  border-radius: 20px;
  background-color: goldenrod;
}

.connect:hover {
  cursor: pointer;
}

.connect img {
  max-height: 3em;
}

.connect p {
  align-self: center !important;
  font-weight: bold !important;
  font-size: larger !important;
  margin: 0;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative; /* permet de placer le menu sous l’image */
}

.menuIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuAccount {
  display: flex;
  position: relative;
}



.avatarSection {
  display: flex;
  justify-content: center;
  /* margin-bottom: 2rem; */
}

.avatar {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  /* border: 5px solid #667eea; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  margin-right: 1em;

  min-width: 2em;
  min-height: 2em;
  max-height: 2em;
  max-width: 2em;
}

.defaultAvatar {
  line-height: 1;
  padding: 0.5em;
  /* width: 120px; */
  /* height: 120px; */
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 3rem; */
  font-weight: bold;
  text-transform: uppercase;
}




/* === MENU DÉROULANT SOUS L’IMAGE === */
.dropdown {
  position: absolute;
  top: 50px; /* espace sous l’image */
  left: 0;
  width: 100%;
  max-width: 16vw;
  background-color: #111827;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: calc(2001/11.09);
  animation: dropdownFade 0.2s ease-out;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 150px;
  border-radius: inherit;
}

.dropdown li {
  /* padding: 10px 16px; */
  cursor: pointer;
  color: white;
  transition: background-color 0.2s;
  border-radius: inherit;
}
.dropdown li a {
  padding: 10px 16px;
  display: block;
}

.dropdown li:hover {
  background-color: #374151;
  border-radius: inherit;
}
