.connect_form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.connect_form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.connect_form button {
    cursor: pointer;
    margin-top: 2em;
}
button.forget {
  margin-top: 0.5em;
}

.connect_error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}