/* override */

.override_list {
    padding-left: 0;
}

/* Module */

.struct_header {
    background-color: rgb(231, 209, 246);
    display: flex;
    justify-content: space-between;
}

.btn_crud {
    display: flex;
    align-items: center;
}
.btn_crud i { margin-left: 6px;}

.struct_card {
    display: flex;
}

.struct_card img {
    min-width: 12vw;
    max-width: 12vw;
    min-height: 8vw;
    max-height: 8vw;

    object-fit: cover;
}


.struct_content {
    margin-left: 2vw;
}
.struct_date {
    background-color: rgb(218, 218, 218);
    padding: 0.5em;
    border-radius: 1em;
}